/* Add CSS Styling */
p {
    background-color: rgb(255, 0, 153);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#one {
    font-size: 36px;
    color: rgb(13, 0, 255);
}

#two {
    font-size: 24px;
    background-color: rgb(0, 255, 34);
    font-weight: bold;
}

.cooler {
    font-size: 24px;
}